<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>qq1</string>
		<key>width</key>
		<string>19</string>
		<key>ascent</key>
		<string>16</string>
		<key>descent</key>
		<string>3</string>
		<key>file</key>
		<string>qq1.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>qq2</string>
		<key>width</key>
		<string>24</string>
		<key>ascent</key>
		<string>20</string>
		<key>descent</key>
		<string>4</string>
		<key>file</key>
		<string>qq2.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>qq3</string>
		<key>width</key>
		<string>20</string>
		<key>ascent</key>
		<string>18</string>
		<key>descent</key>
		<string>2</string>
		<key>file</key>
		<string>qq3.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>qq4</string>
		<key>width</key>
		<string>20</string>
		<key>ascent</key>
		<string>18</string>
		<key>descent</key>
		<string>2</string>
		<key>file</key>
		<string>qq4.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pig</string>
		<key>width</key>
		<string>50</string>
		<key>ascent</key>
		<string>46</string>
		<key>descent</key>
		<string>4</string>
		<key>file</key>
		<string>pig.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>earth</string>
		<key>width</key>
		<string>200</string>
		<key>ascent</key>
		<string>180</string>
		<key>descent</key>
		<string>20</string>
		<key>file</key>
		<string>earth.gif</string>
	</dict>
</array>
</plist>
